.*

!.github
!.gitignore
!.python-version
!.vscode

.vscode/settings.json

*.gif
!examples/**/*.gif
*.mp4
!examples/**/*.mp4
*.png
*.log

__pycache__
*.py[codz]
*$py.class
*.egg-info/

__ignore__*

/experiments/data/
experiments/**/data/
/experiments/outputs/
/experiments/*.sh
/output/
/outputs/
/tests/outputs/
/data/
/models/

/context/
